
.cabecalho{
    background-color: red;
    display:flex;
}
.logoimg{
    width: 120px;
    margin-left: 200px;
}
.listacabecalho{
    display:flex;
    margin-left: 730px;
    margin-top: 125px;
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    color:black
    font-size; 30px;
    padding-left: 35px;
}